In [2]:
import os
import pandas as pd

In [4]:
directory = os.fsencode('/home/mathias/PhpstormProjects/DataScience/week4/data/return-data')

df = []

for filename in os.listdir(directory):
    file = os.path.join(directory, filename).decode("utf-8")
    df.append(pd.read_json(file, lines=True))
    print(file)
   
result = pd.concat(df)
result

/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-04.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-23.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-06.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-28.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-20.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-30.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-12.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-13.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-16.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-31.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-17.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-26.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-18.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-01.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-07.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-27.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-03.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-21.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-10.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-25.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-11.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-22.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-08.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-05.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-24.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-19.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-14.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-02.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-29.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-09.txt
/home/mathias/PhpstormProjects/DataScience/week4/data/return-data/2017-01-15.txt

,basket,returnLabel,totalAmount,transactionId,zipCode
0,"[4, 1, 5, 2, 2, 3, 4, 0, 4, 0, 3]",0,891,1007115501,1838
1,"[5, 5, 1, 5, 1, 2]",0,396,3580371052,2413
2,"[1, 2, 2, 3, 0, 2]",0,660,6590707155,8821
3,"[1, 1, 1, 4, 1, 4]",0,216,3727164678,7065
4,[4],0,87,1926170114,2072
5,"[5, 2]",0,20,3093487939,2306
6,"[0, 4, 4, 2, 3]",0,370,8765722806,1676
7,"[5, 2]",0,20,4789705301,7647
8,"[3, 4, 1, 0]",0,344,2166970149,7029
9,"[3, 4, 2, 0, 3, 1, 3, 2]",0,208,3687694054,1918
10,"[4, 4, 0, 5, 4, 3, 2, 2]",0,192,8543689497,6855
11,"[1, 5, 1, 2, 2, 5, 4, 4, 3]",0,90,8565199959,9148
12,"[0, 2]",0,82,1092376300,5866
13,"[1, 0]",0,104,8367543900,4070
14,"[3, 4, 5, 2, 4, 2, 2, 4, 4, 4]",0,550,7342843161,2118
15,[0],0,55,8453740288,6995
16,[4],0,10,2556518586,9422
17,"[2, 4, 3, 1, 4]",0,125,7262834196,5502
18,"[1, 1, 0, 1, 4]",0,200,5196596910,9220
19,"[3, 0, 1, 4, 1, 4]",0,174,8227153818,6173
20,"[0, 0, 4, 1, 3, 5]",0,264,6416268795,6571
21,[2],0,24,4007676141,3781
22,"[2, 2, 4, 3, 4, 0, 0, 0]",0,400,6195969040,6633
23,"[3, 0, 1, 4, 1, 2, 2, 0]",0,568,4579992949,8071
24,"[1, 3]",0,24,8766766416,9879
25,"[3, 0, 4, 4, 5, 5]",0,678,1121637562,7610
26,"[0, 2]",0,182,9251402778,4262
27,"[0, 4, 4]",0,30,4661135554,8333
28,"[3, 0, 2, 3, 3, 4, 1]",0,448,9538590937,4205
29,"[1, 5, 0, 4, 2, 1, 2, 0, 0]",0,711,5416840085,6447
...,...,...,...,...,...
970,[4],0,26,2118758303,4580
971,"[3, 2]",0,20,2527430466,1038
972,"[0, 4, 5, 3, 2]",0,210,2870551548,5403
973,[2],0,63,9087557412,9561
974,[5],0,10,9997614632,1676
975,"[3, 4, 2]",0,198,3167719498,9044
976,"[5, 5, 5, 4, 2, 2, 3]",0,161,6206169298,5257
977,"[4, 4, 4]",0,165,7617017613,2607
978,"[5, 3]",0,42,6606778952,2538
979,"[3, 1, 5, 0, 3, 5, 1, 1]",0,296,4422894736,3218
980,"[0, 3, 5, 2]",0,84,2173444831,4943
981,"[5, 0, 1, 3, 0]",0,255,9115538157,8148
982,[1],0,11,2469777241,7721
983,"[0, 2, 4, 1, 1]",0,190,8181908429,8390
984,"[2, 5, 3, 3, 2, 2]",0,444,5322033075,4325
985,"[1, 4, 5, 0, 4, 3, 3]",0,252,3807826380,4351
986,"[3, 5, 1, 4, 4, 1, 3, 0]",0,352,3452231071,8768
987,"[1, 0]",0,76,8513368507,9839
988,"[1, 3, 4, 3, 4]",0,410,4649400209,5010
989,"[1, 5, 5, 1, 2, 1]",0,444,9612168610,2300
990,"[5, 5, 0, 1, 4]",0,385,1493233939,8601
991,[5],0,74,8656843102,3668
992,"[4, 0]",0,94,5340617568,5255
993,"[0, 1, 0, 1, 2, 4]",0,252,8229999366,8614
994,"[3, 4]",0,112,3254789718,8077
995,"[2, 0, 0]",0,186,5100215861,7684
996,"[0, 4]",0,130,5420883153,4180
997,"[4, 4, 4, 3, 1, 4]",1,534,5507649417,1420
998,"[4, 4, 0, 2, 0, 0]",0,510,7317753015,4579
999,"[1, 3]",0,118,7893747287,4847

In [ ]:
result.head()